<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{%trans%}Login Required{%endtrans%}</title>
        <style>
            {% include 'style.css' %}
        </style>
    </head>
    <body>
        <h1>{%trans%}Ref Desk Stats Login{%endtrans%}</h1>
        <div class="login">
            <form method="POST" action="/refdesk-stats/en/login/">
                Username: <input type="text" name="user" /><br/>
                Password: <input type="password" name="pass" /><br/>
                <br />
                <input type="submit" value="{% trans %}Log In{% endtrans %}" /><br/>
            </form>
        </div>
    </body>
</html>
