<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Show Research Help Stats</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        //load the visualization library from Google and set a listener
	    google.load("visualization", "1", {packages:["corechart"]});
	    google.setOnLoadCallback(drawChart);

        function drawChart() {
            
            //Data Table for stats over entire selected month
            var data2 = new google.visualization.arrayToDataTable({{tarray|tojson|safe}})
            //set some basic options
            var options2 = {
                title: "Timeslots for {{date}}",
                legend: { position: 'top', maxLines:3 },
                height: 500,
                width: 700,
                isStacked: true
            };
            //bind the chart to the div
            var chart2 = new google.visualization.BarChart(document.getElementById('chart2'));
            chart2.draw(data2, options2);

            //Data Table for week day stacked barchart
            var data3 = new google.visualization.arrayToDataTable({{wdarray|tojson|safe}})
            //set some basic options
            var options3 = {
                title: "Statistics by Day of the Week for {{date}}",
                legend: { position: 'top', maxLines:3 },
                height: 500,
                width: 700,
                isStacked: true
            };
            //bind the chart to the div
            var chart3 = new google.visualization.BarChart(document.getElementById('chart3'));
            chart3.draw(data3, options3);


        }
    </script>
</head>
<body>
    <h1>Ref Desk Statistics</h1>
    <div id="menu">
        <ul>
            <li><a href="/refdesk-stats">Enter Statistics</a></li>
            <li><a href="/refdesk-stats/view">View Statistics</a></li>
        </ul>
        <hr>
    </div>
    <!-- The div for the timeslot chart -->
    <div id="chart2">

    </div>
    
    <!-- The div for the days of the week chart -->
    <div id="chart3">

    </div>

    <p><a href="/refdesk-stats/download/{{date}}">Download this data ({{date}})</a></p>
    
    <details>
        <summary>Missing Statistics</summary>
        <ul>
            {% for day in missing %}
            <li><a href="/refdesk-stats/edit/{{day.refdate}}">{{ day.refdate }}</a></li>
            {% else %}
            <li>Excellent! No days are missing data!</i>
            {% endfor %}
        </ul>
    </details>

    <p>Listed below are all the statistics that have been entered.</p>
    <details>
        <summary>Statistics broken down by month</summary>
        <ul>
            {% for month in months %}
            <li><a href="{{ month.month }}">{{ month.month }}</a></li>
            {% else %}
            <li>Crazy, no months have data</li>
            {% endfor %}
        </ul>
    </details>
    
    <!--<p>Listed below are all the days that have statistics entered</p>-->
    <details>
        <summary>All days with statistics</summary>
        <ul>
            {% for date in dates %}
            <li><a href="{{ date.refdate }}">{{ date.refdate }}</a></li>
            {% else %}
            <li>Unpossible, no dates have data input</li>
            {% endfor %}
	    <li><a href="/refdesk-stats/download">All Statistics</a>(Download Only)</li>
        </ul>
    </details>
</body>
</html>
