<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Show Research Help Stats</title>
</head>
<body>
    <h1>Ref Desk Statistics</h1>
    <div id="menu">
        <ul>
            <li><a href="/refdesk-stats">Enter Statistics</a></li>
            <li><a href="/refdesk-stats/view">View Statistics</a></li>
        </ul>
        <hr>
    </div>
    <p>Listed below are all the months that have statistics entered</p>
    <ul>
        {% for month in months %}
        <li><a href="{{ month.month }}">{{ month.month }}</a></li>
        {% else %}
        <li>Crazy, no months have data</li>
        {% endfor %}
    </ul>

    <p>Listed below are all the days that have statistics entered</p>
    <ul>
        {% for date in dates %}
        <li><a href="{{ date.refdate }}">{{ date.refdate }}</a></li>
        {% else %}
        <li>Unpossible, no dates have data input</li>
        {% endfor %}
	<li><a href="/refdesk-stats/download">All Statistics</a>(Download Only)</li>
    </ul>
</body>
</html>
