<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{%trans%}Show Research Help Stats{%endtrans%}</title>
</head>
<body>
    <h1>{%trans%}Ref Desk Statistics{%endtrans%}</h1>
    <a href='/refdesk-stats/{%trans%}fr{%endtrans%}/'>{%trans%}Francais{%endtrans%}</a>
    <div id="menu">
        <ul>
            <li><a href="/refdesk-stats/{%trans%}en{%endtrans%}">{%trans%}Enter Statistics{%endtrans%}</a></li>
            <li><a href="/refdesk-stats/{%trans%}en{%endtrans%}/view">{%trans%}View Statistics{%endtrans%}</a></li>
        </ul>
        <hr>
    </div>
    <details>
        <summary>{%trans%}Months with Statistics{%endtrans%}</summary>
        <!--<p>Listed below are all the months that have statistics entered</p>-->
        <ul>
            {% for month in months %}
            <li><a href="{{ month.month }}">{{ month.month }}</a></li>
            {% else %}
            <li>{%trans%}No months have data{%endtrans%}</li>
            {% endfor %}
        </ul>
    </details>

	<li><a href="/refdesk-stats/{%trans%}en{%endtrans%}/download/allstats.csv">{%trans%}Download all Statistics{%endtrans%}</a></li>
    
    <!--<p>Listed below are all the days that have statistics entered</p>
    <ul>
        {% for date in dates %}
        <li><a href="{{ date.refdate }}">{{ date.refdate }}</a></li>
        {% else %}
        <li>Unpossible, no dates have data input</li>
        {% endfor %}
	<li><a href="/refdesk-stats/download">All Statistics</a>(Download Only)</li>
    </ul>-->
</body>
</html>
