<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Research help statistics</title>
</head>
<body>
  <h1>Enter Statistics</h1>
  <div id="menu">
    <ul>
      <li><a href="/refdesk-stats">Enter Statistics</a></li>
      <li><a href="/refstats">View Statistics</a></li>
    </ul>
    <hr>
  </div>
  <div>
    <form method="post">
      Date: <input type="date" name="refdate"{% if today %} value={{ today }} {% endif %}>
      <table>
        <tr>
          <th></th>
          <th>Directional</th>
          <th>Help with Collections or Services</th>    
          <th>Referral to Librarian</th>
          <th>Equipment</th>
          <th>Help with Printers/Software</th>
        </tr>
        <tr>
          <td>8 - 10 AM</td>
          <td><input type="number" name="8to10dir" value="0"></td>
          <td><input type="number" name="8to10help" value="0"></td>
          <td><input type="number" name="8to10referral" value="0"></td>
          <td><input type="number" name="8to10equipment" value="0"></td>
          <td><input type="number" name="8to10ithelp" value="0"></td>
        </tr>
        <tr>
          <td>10 - 11 AM</td>
          <td><input type="number" name="10to11dir" value="0"></td>
          <td><input type="number" name="10to11help" value="0"></td>
          <td><input type="number" name="10to11referral" value="0"></td>
          <td><input type="number" name="10to11equipment" value="0"></td>
          <td><input type="number" name="10to11ithelp" value="0"></td>
        </tr>
        <tr>
          <td>11 AM - 12 PM</td>
          <td><input type="number" name="11to12dir" value="0"></td>
          <td><input type="number" name="11to12help" value="0"></td>
          <td><input type="number" name="11to12referral" value="0"></td>
          <td><input type="number" name="11to12equipment" value="0"></td>
          <td><input type="number" name="11to12ithelp" value="0"></td>
        </tr>
        <tr>
          <td>12 - 1 PM</td>
          <td><input type="number" name="12to1dir" value="0"></td>
          <td><input type="number" name="12to1help" value="0"></td>
          <td><input type="number" name="12to1referral" value="0"></td>
          <td><input type="number" name="12to1equipment" value="0"></td>
          <td><input type="number" name="12to1ithelp" value="0"></td>
        </tr>
        <tr>
          <td>1 - 2 PM</td>
          <td><input type="number" name="1to2dir" value="0"></td>
          <td><input type="number" name="1to2help" value="0"></td>
          <td><input type="number" name="1to2referral" value="0"></td>
          <td><input type="number" name="1to2equipment" value="0"></td>
          <td><input type="number" name="1to2ithelp" value="0"></td>
        </tr>
        <tr>
          <td>2 - 3 PM</td>

          <td><input type="number" name="2to3dir" value="0"></td>

          <td><input type="number" name="2to3help" value="0"></td>

          <td><input type="number" name="2to3referral" value="0"></td>

          <td><input type="number" name="2to3equipment" value="0"></td>

          <td><input type="number" name="2to3ithelp" value="0"></td>

        </tr>

        <tr>

          <td>3 - 4 PM</td>

          <td><input type="number" name="3to4dir" value="0"></td>

          <td><input type="number" name="3to4help" value="0"></td>

          <td><input type="number" name="3to4referral" value="0"></td>

          <td><input type="number" name="3to4equipment" value="0"></td>

          <td><input type="number" name="3to4ithelp" value="0"></td>

        </tr>

        <tr>

          <td>4 - 5 PM</td>

          <td><input type="number" name="4to5dir" value="0"></td>

          <td><input type="number" name="4to5help" value="0"></td>

          <td><input type="number" name="4to5referral" value="0"></td>

          <td><input type="number" name="4to5equipment" value="0"></td>

          <td><input type="number" name="4to5ithelp" value="0"></td>

        </tr>

        <tr>

          <td>5 - 6 PM</td>

          <td><input type="number" name="5to6dir" value="0"></td>

          <td><input type="number" name="5to6help" value="0"></td>

          <td><input type="number" name="5to6referral" value="0"></td>

          <td><input type="number" name="5to6equipment" value="0"></td>

          <td><input type="number" name="5to6ithelp" value="0"></td>

        </tr>

        <tr>

          <td>6 - 7 PM</td>

          <td><input type="number" name="6to7dir" value="0"></td>

          <td><input type="number" name="6to7help" value="0"></td>

          <td><input type="number" name="6to7referral" value="0"></td>

          <td><input type="number" name="6to7equipment" value="0"></td>

          <td><input type="number" name="6to7ithelp" value="0"></td>

        </tr>

        <tr>
          <td>7 - Close</td>
          <td><input type="number" name="7toclosedir" value="0"></td>
          <td><input type="number" name="7toclosehelp" value="0"></td>
          <td><input type="number" name="7toclosereferral" value="0"></td>
          <td><input type="number" name="7tocloseequipment" value="0"></td>
          <td><input type="number" name="7tocloseithelp" value="0"></td>
        </tr>
      </table>
      <input type="submit" value="Submit">
    </form>
  </div>
</body></html>
