<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Research help statistics</title>
  <style>
    {% include "style.css" %}
  </style>
</head>
<body>
  <h1>Enter Statistics</h1>
  <div id="menu">
    <ul>
      <li><a href="/refdesk-stats">Enter Statistics</a></li>
      <li><a href="/refdesk-stats/view">View Statistics</a></li>
    </ul>
    <hr>
  </div>
  <div>
    <form method="post">
      Date: <input type="date" name="refdate"{% if today %} value={{ today }} {% endif %}>
      <table>
        <tr>
          <th></th>
          <th colspan='2'>Directional</th>
          <th colspan='2'>Collections/Services</th>
          <th colspan='2'>Referral to Librarian</th>
          <th colspan='2'>Equipment</th>
          <th colspan='2'>Printers/Software</th>
        </tr>
        <tr>
            <td></td>
            <td>EN</td><td>FR</td>
            <td>EN</td><td>FR</td>
            <td>EN</td><td>FR</td>
            <td>EN</td><td>FR</td>
            <td>EN</td><td>FR</td>
        </tr>
        {# This is a list of 2-tuples, to preserve order. #}
        {% 
            set timecodes = [
                ('8', '8 - 9 AM'),
                ('9', '9 - 10 AM'),
                ('10', '10 - 11 AM'),
                ('11', '11AM - 12 PM'),
                ('12', '12 PM - 1 PM'),
                ('13', '1 - 2 PM'),
                ('14', '2 - 3 PM'),
                ('15', '3 - 4 PM'),
                ('16', '4 - 5 PM'),
                ('17', '5 - 6 PM'),
                ('18', '6 - 7 PM'),
                ('19', '7 - 8 PM'),
                ('20', '8 - 9 PM'),
                ('21', '9 - 10 PM'),
                ('22', '10 - 11 PM'),
                ('23', '11 PM - 12 AM'),
                ('0', '12 - 1 AM'),
                ('1', '1 - 2 AM')
            ]
        %}
        {% for time in timecodes %}
          <tr>
            <td>{{ time[1] }}</td>
            <td><input type="number" name="{{time[0]}}dir_en" value={{stats[time[0]~'dir_en']|default('0')}}></td>
            <td><input type="number" name="{{time[0]}}dir_fr" value={{stats[time[0]~'dir_fr']|default('0')}}></td>
            <td><input type="number" name="{{time[0]}}help_en" value={{stats[time[0]~'help_en']|default('0')}}></td>
            <td><input type="number" name="{{time[0]}}help_fr" value={{stats[time[0]~'help_fr']|default('0')}}></td>
            <td><input type="number" name="{{time[0]}}referral_en" value={{stats[time[0]~'referral_en']|default('0')}}></td>
            <td><input type="number" name="{{time[0]}}referral_fr" value={{stats[time[0]~'referral_fr']|default('0')}}></td>
            <td><input type="number" name="{{time[0]}}equipment_en" value={{stats[time[0]~'equipment_en']|default('0')}}></td>
            <td><input type="number" name="{{time[0]}}equipment_fr" value={{stats[time[0]~'equipment_fr']|default('0')}}></td>
            <td><input type="number" name="{{time[0]}}ithelp_en" value={{stats[time[0]~'ithelp_en']|default('0')}}></td>
            <td><input type="number" name="{{time[0]}}ithelp_fr" value={{stats[time[0]~'ithelp_fr']|default('0')}}></td>
          </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Submit">
    </form>
  </div>
</body></html>
