input[type='number'] {
    width: 4em;
}
input[type='submit'] {
    width: 15em;
    padding: 2px;
}
table{
    border-spacing: 0px;
}
th, td {
    border: solid 1px #BBBBBB;
    text-align: center;
}
.login {
    padding: 2.5em;
    background-color: #DDDDDD;
    border: 1px solid #BBBBBB;
    border-radius: 2em;
}
